*, *::before, *::after {
    box-sizing:border-box;
    color:white;
}
.site-header {
    background-color:hsl(217, 28%, 15%);
}
.main-page {
    background-color:hsl(218, 28%, 13%);
}
.reviews {
    background-color:hsl(219, 30%, 18%);
}
.about {
    background-color:hsl(216, 53%, 9%);
}